[RunSvc]
JobName = "WebInterface test job"
BeamType = "IAEA"
# PhspInputFileName = "/mnt/e/Data/dose3d/mc/phsp/Clinac2300-PhSp-Primo/TNSIM157_10x10s2-f0" # AGH pc location
PhspInputFileName = "/mnt/e/dose3d/TNSIM157_3x3s2-f0" # AGH laptop location
NTupleAnalysis = true 

[PatientGeometry]
# [Patient]
Type = "Dose3D" # waterPhantom, Dose3D
ConfigFile = "/jobs/Dose3D.toml" #"/jobs/WaterPhantom.toml"  "/jobs/Dose3D.toml"
#TODO ConfigSvc to be updated:
#TODO EnviromentPosition = [0.0,0.0 ,200.0]        # In global coordinate system in [mm]
#TODO EnviromentSize = [410.0,410.0,400.0]         # [mm]
EnviromentPositionX = 0.0
EnviromentPositionY = 0.0
EnviromentPositionZ = 200.0
EnviromentSizeX = 410.0
EnviromentSizeY = 410.0
EnviromentSizeZ = 400.0
EnviromentMedium = "G4_WATER"


