frontend/.idea/
jsroot-fork/.idea/
dose3d_commons/.idea/
backend/.idea/

backend/venv/
*.pyc
backend/backend/settings_local.py
backend/static/
backend/static_collected/
backend/db.sqlite3
backend/test.py

frontend/build/
frontend/node_modules/

jsroot-fork/node_modules/
jsroot-fork/build/jsroot.min.js
jsroot-fork/build/hist2d.js
jsroot-fork/build/hist2d.min.js
jsroot-fork/build/hist.js
jsroot-fork/build/hist.min.js
