g4rt-webui-fe/frontend/.idea/
g4rt-webui-fe/jsroot-fork/.idea/
g4rt-webui-be/dose3d_commons/.idea/
g4rt-webui-be/backend/.idea/

g4rt-webui-be/backend/venv/
*.pyc
g4rt-webui-be/backend/backend/settings_local.py
g4rt-webui-be/backend/static/
g4rt-webui-be/backend/static_collected/
g4rt-webui-be/backend/db.sqlite3
g4rt-webui-be/backend/test.py

g4rt-webui-fe/frontend/build/
g4rt-webui-fe/frontend/node_modules/

g4rt-webui-fe/jsroot-fork/node_modules/
g4rt-webui-fe/jsroot-fork/build/jsroot.min.js
g4rt-webui-fe/jsroot-fork/build/hist2d.js
g4rt-webui-fe/jsroot-fork/build/hist2d.min.js
g4rt-webui-fe/jsroot-fork/build/hist.js
g4rt-webui-fe/jsroot-fork/build/hist.min.js
